
<%= render 'form' %>

<div class="container" align="center">
	<footer>
		<div class="btn">
			<%= link_to 'Show', @singer %>
		</div>
		<div class="btn">
			<%= link_to 'Back', singers_path %>
		</div>
	</footer>
</div>