<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<h3>Editing Singers</h3>
		</div>
	</div>
</div>
<br>
<div class="hero-unit">
<%= render 'form' %>
</div>

<div>
	<footer>

	</footer>
</div>

<div class="container" align="center">
	<footer>
		<div class="btn">
			<%= link_to 'Show', @singer %>
		</div>
		<div class="btn">
			<%= link_to 'Back', singers_path %>
		</div>
	</footer>
</div>