<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<h3>New Singer</h3>
		</div>
	</div>
</div>

<%= render 'form' %>

<div class="container" align="center">
	<footer>
		<div class="btn">
			<%= link_to 'Back', singers_path %>
		</div>
	</footer>
</div>
