<div align="center">
	<p class="titulotes">
		<h3>HISTORY
		OF PENN SINGERS</h3>
	</p>

</div>
<div>
	<p class="tex">
		In
		1957, two University of Pennsylvania students, Meryl Moss and Edie
		Herman, decided that the campus needed an outlet for female singers.
		The two therefore co-founded the Pennsyngers, an all-female chorus.
		In that first year, the women successfully directed themselves.
		The next year, Bruce Montgomery, then head of Student Performing
		Arts, hired Ernest Ganz as their director. A number of other directors
		followed over the next thirteen years.
	</p>
	<p class="tex">
		Then,
		in 1970, the Philadelphia Symphony Orchestra premiered Bruce Montgomery's &quot;Herodotus Fragments&quot;, written for orchestra and two choruses. The Pennsyngers performed, along with
		the Penn Glee Club. Thus began Monty's relationship with the 'syngers.
		In 1971, he took over as their director and made the group a co-ed
		ensemble. That year, they became the Penn Singers.
	</p>
	<p class="tex">
		In
		1972, the Penn Singers performed a two act show: the first act
		contained the Buxtehude Missa Brevis, Schubert's Mass in G, and
		five pieces from Andrew Lloyd Webber's Jesus Christ Superstar.
		The second act was Gilbert and Sullivan's Trial By Jury. The performance
		sold out before it opened.
	</p>
	<p class="tex">
		After
		completing a show that ran the gamut of musical genres, the Singers
		had to decide which they would like to make their own; by unanimous
		vote, they selected light opera. The next year, the Penn Singers
		performed a fully-staged Pirates of Penzance in the Zellerbach
		Theatre, starting a trend of successful light opera productions.
		A modernized, innovative version of Gilbert and Sullivan's Patience
		was enormously well-received, and helped the Penn Singers to gain
		respect on campus. The Singers have performed a Gilbert and Sullivan
		light opera every year since 1972 (except 1996 and 2006). We now
		also perform a Broadway-style musical every fall. The rest, as
		they say, is history!
	</p>
	<p class="tex">
		In 2010, the Bruce Montgomery Foundation for the Arts was established to support the performing arts and to continue Bruce Montgomery's artistic legacy. Please visit www.brucemontgomeryfoundation.org for more information on the Foundation and to show your support.
	</p>
	<p class="tex">
		&quot;Don't be afraid to be magnificent!&quot; -Bruce Montgomery
		<br />
		<br />
	</p>
</div>
